
.container-lg {
    padding-top: 10px;
}



/*colonna 1*/


.col {
    background-color: grey;
    margin-top: 55px;

}

.color-white {
    background-color:rgba(128, 128, 128, 0.207)
}



/*colonna 2*/

.color-blu {
    background-color: blue;
    margin-top: 80px;
}


.color-green {
    background-color: green;
    padding: 80px;
}

.color-red {
    background-color: red;
    padding: 80px;
}


/*colonna 3*/

.color-azure {
    background-color: rgb(25, 249, 249);
}

.color-yellow {
    background-color: rgb(204, 204, 4);
}

.color-black {
    background-color: rgb(34, 33, 33);
    color: white;
}

.color-grey {
    background-color: grey;
}