.col {
    background-color: grey;
    margin-top: 55px;

}







.color-white {
    background-color:rgba(128, 128, 128, 0.207)
}


.color-blu {
    background-color: blue;
}


.color-green {
    background-color: green;
}

.color-red {
    background-color: red;
}